@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
body {
  font-family: 'Open Sans', sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 200px;
}
header {
  background: #fff8f3;
  background-image: url('../images/header_bg.png'),
    url('../images/developer.png');
  background-repeat: no-repeat;
  background-position: bottom right, left;
}
.nav-title {
  color: var(--Dark-01, #181818);
  font-size: 45px;
  font-weight: 800;
}
.text_praimary {
  color: #fd6e0a;
}
.btn-praimary {
  width: 150px;
  height: 64px;
  background-color: #fd6e0a;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 35px;
  transition: all linear 0.3s;
}
.btn-praimary:hover {
  background-color: lightgray;
  color: #fd6e0a;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin: 50px;
}
nav a {
  text-decoration: none;
}
nav ul li a {
  color: var(--Dark-02, #474747);
  font-size: 20px;
  font-weight: 400;
}
.banner {
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner .potfolio_img {
  width: 584px;
  height: 676px;
  flex-shrink: 0;
}
.banner_contact {
  max-width: 700px;
}

.banner_contact h1 {
  color: var(--Dark-02, #474747);
  font-size: 45px;
  font-weight: 600;
}
.banner_contact h2 {
  color: var(--Dark-01, #181818);
  font-size: 85px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 20px;
}
.banner_contact p {
  width: 585px;
  color: var(--Dark-03, #757575);
  font-size: 18px;
  font-weight: 400;
}
.Download-btn {
  width: 200px;
  height: 64px;
  background: #fd6e0a;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
  transition: all linear 0.3s;
}
.Download-btn:hover {
  background: lightgray;
  color: #fd6e0a;
}
.contack-btn {
  width: 162px;
  height: 64px;
  background: #fd6e0a;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  align-items: center;
  justify-content: center;
  transition: all linear 0.3s;
}
.contack-btn:hover {
  background: lightgray;
  color: #fd6e0a;
}
/* about part */
main {
  max-width: 1140px;
  margin: 0 auto;
}
.about_me {
  margin: 130px 0;
  padding: 131px 157px;
  border-radius: 10px;
  background: #fff8f3;
}
.section_title {
  color: #181818;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}
.about_description {
  width: 827px;
  height: 120px;
  text-align: center;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.about_info_container {
  display: flex;
  justify-content: space-around;
}
.about_info {
  color: #474747;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}
.info_title {
  color: #757575;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}
.section_title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 0;
}
.section_description {
  width: 902px;
  color: #757575;
  text-align: center;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.skill_detiles {
  width: 277px;
  height: 377px;
  padding: 30px 33px;
  margin-bottom: 130px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill_head {
  color: #181818;
  font-size: 20px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 20px;
}
.skill_discription {
  width: 201px;
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.skill_container {
  display: flex;
  gap: 24px;
}
.section_title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
.resume_colum_title {
  color: #474747;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}
.resume_container {
  display: flex;
  gap: 71px;
}
.resume_item_colum {
  color: #474747;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 0;
}
.resume_item_institute {
  color: #757575;
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 20px;
}
.resume_description {
  width: 511px;
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.resume_container hr {
  width: 558px;
}
.download_cv {
  margin-top: 50px;
  text-align: center;
}
footer {
  padding: 130px 230px;
  display: flex;
  background: #fff8f3;
  margin-top: 113px;
  gap: 117px;
}
.footer_title {
  color: #181818;
  font-size: 35px;
  font-weight: 700;
}
.footer_description {
  width: 562px;
  color: #474747;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.footer_midea {
  display: flex;
  gap: 24px;
}
.Contact input[type='text'],
.Contact input[type='email'],
textarea {
  display: block;
  margin-bottom: 24px;
  padding: 18px 349px 18px 30px;
  border: none;
  border-radius: 5px;
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.Message {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.Contact ::placeholder {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
